body {
  padding: 0;
  margin: 0;
  background-color: honeydew;
}

.mainHeader {
  color: tomato;
  margin: 2% auto;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 7em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.1em;
}

.mainBoard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorKey {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2em;
  height: 780px;
}

.pixelHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 540px;
  height: 700px;
}

.pixelColumn {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: xx-large;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.pixel {
  border: 1px solid lightgray;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: medium;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.colorOne {
    width: 60px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    margin: 10px;
}

.colorTwo {
    width: 60px;
    height: 60px;
    background-color: rgb(255,255,255);
    margin: 10px;
}

.colorThree {
    width: 60px;
    height: 60px;
    background-color: rgb(255,205,124);
    margin: 10px;
}

.colorFour {
    width: 60px;
    height: 60px;
    background-color: rgb(127,51,0);
    margin: 10px;
}

.colorFive {
    width: 60px;
    height: 60px;
    background-color: rgb(255,216,0);
    margin: 10px;
}

.colorSix {
    width: 60px;
    height: 60px;
    background-color: rgb(0,74,127);
    margin: 10px;
}

.colorSeven {
    width: 60px;
    height: 60px;
    background-color: rgb(0,148,255);
    margin: 10px;
}

.colorEight {
    width: 60px;
    height: 60px;
    background-color: rgb(0,127,14);
    margin: 10px;
}

.colorNine {
    width: 60px;
    height: 60px;
    background-color: rgb(0,255,33);
    margin: 10px;
}



.onePixel {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.twoPixel {
  border: 1px solid rgb(255,255,255);
  background-color: rgb(255,255,255);
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.threePixel {
  border: 1px solid rgb(255,205,124);
  background-color: rgb(255,205,124);
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.fourPixel {
  border: 1px solid rgb(127,51,0);
  background-color: rgb(127,51,0);
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.fivePixel {
  border: 1px solid rgb(255,216,0);
  background-color: rgb(255,216,0);
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.sixPixel {
  border: 1px solid rgb(0,74,127);
  background-color: rgb(0,74,127);
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.sevenPixel {
  border: 1px solid rgb(0,148,255);
  background-color: rgb(0,148,255);
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.eightPixel {
  border: 1px solid rgb(0,127,14);
  background-color: rgb(0,127,14);
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ninePixel {
  border: 1px solid rgb(0,255,33);
  background-color: rgb(0,255,33);
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.finished{
  color: lawngreen;
}